* {
    margin: 0;
    padding: 0;
}

/*    nav bar css  */
.spm_nav {
    background-color: #0c0707eb;
    height: 5rem;

}

.spm_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.spm_nav li {
    float: left;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    color: aliceblue;

}

.spm_nav a {
    color: rgba(224, 228, 231, 0.767);
    text-decoration: none;

}

.spm_nav a:hover {
    color: greenyellow;
    border: 2px solid blue;
    box-shadow: 3px 3px 3px red, 3px 3px 3px blue;
    border-radius: 8px;
    margin: 10px;
    padding: 12px;
}


/*   box1 */
.spm_detail_box1 {
   
    height: 23rem;
    width: 100%;
    background-color: rgb(49, 54, 124);
    display: grid;

}

.details_box1_text {
    margin-top: 5%;
    margin-left: 4%;

}

.details_box1_text h1 {
    padding: 1%;
}

.details_box1_text p {
    font-size: 20px;
    padding: 1%;
}

.details_box1_text button a:hover {

    color: rgb(73, 0, 73);
    border: 2px solid rgb(250, 0, 0);
    box-shadow: 3px 3px 3px rgb(255, 0, 0), 3px 3px 3px rgb(255, 0, 0);
    border-radius: 10px;
    margin: auto;
    padding: 10px;

}

.details_box1_text button a {
    text-decoration: none;
    font-family: fantasy;
    padding-top: 2px;
    font-size: larger;
    color: rgb(8, 8, 7);
}

.spm_payment_box3{
    height: 23rem;
    width: 100%;
    background-color: rgba(233, 240, 233, 0.877);
    display: grid;
    margin: 0;padding: 0;
}
.payment_box3_text{
margin-left:5% ;
margin-top: 1.5%;
text-align: center;
}
.payment_box3_text h2{
font-weight: bold;
padding: 1%;
}
.payment_box3_text p{
    font-size: large;

}


.spm_description_about_payment{
    height: 15rem;
    width: 100%;
    background-color: rgba(233, 240, 233, 0.877);
    text-align: justify;
    margin: 0;
    padding: 0;

 }
 .description_text{
    padding-left: 2px;
    margin-top: ;
    margin-left: 15px;
 }
 .description_text hr{
    width: 45%;
 }